@import url("styles/header.css");

/* variavel root */
:root {

    --cor-de-fundo: #EBECEE;
    --branco: #FFFFFF;
    
}

body {
    background-color: var(--cor-fundo);
    font-family: var(--font-principal);
    font-size: 1em;
    font-weight: 400;
}
